<% layout("/layouts/boilerplate") %>

<body>
    <form method="POST" action="/listings/add" enctype="multipart/form-data">
        <input type="text" name="listing[title]" placeholder="Enter Title" required> 
        <br><br>
        <textarea type="text" name="listing[description]" placeholder="Enter description" required></textarea>
        <br><br>
        <input type="file" name="listing[image]" placeholder="Image upload" required>
        <br><br>
        <input type="number" name="listing[price]" placeholder="Enter Price" required>
        <br><br>
        <input type="text" name="listing[location]" placeholder="Enter Location" required>
        <br><br>
        <input type="text" name="listing[country]" placeholder="Enter Country" required>
        <br><br>
        <button>Add</button>
    </form>
</body>